*{
	box-sizing: border-box;

}
body, html {
min-height: 100vh;
margin: 0 ;
font-family: 'Rubik', sans-serif;
font-size: 100%;
}
img{
max-width: 100%;
}
/* -- alwways have latter code on css-->*/
p{
margin-bottom: 0px;
margin-top: 0px;
font-size: 1rem;
}
h3{
margin-bottom: 0.1em;
margin-top: 0.1em;

}
.logo{
	background-image: url(../imgs/smile.png);
	width:80px;
	height:80px;
	background-size:100%;
}

.veewrap{
	
	display: flex;
	align-items: center;
	justify-content: center;

background:#eee;
  border: 3px black dashed;
  width: 100%;
  height:5em;

}
.futlogo{
 content:url(../imgs/VEE.png);	

	/*background-image: url(../imgs/VEE.png);*/
	width:3em;
	height:3em;
	
	background-size:50px%;
}


header{
border-bottom: 2px solid #92813C;
background-color: #F1E292;
padding:20px;

display: flex;
justify-content: space-between;
align-items: center;

}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	grid-gap: 30px;
}


body{
display: flex; /*row by default*/
flex-direction: column;/* changes parent to column*/
}

main{
flex-grow: 1;
display:flex;
justify-content: center; /* x axis */
align-items: center; /* y axis */
}



footer > div{
	

}





footer {
padding-left: 0.9em;
padding-right: 0.9em;
padding-bottom: 0.9em;

display:grid;
grid-template-columns: 1fr;
grid-gap: 30px;

;


justify-items: center;
 
}


.nested{


box-sizing: border-box;
margin-bottom: 1px;

display: grid;
grid-template-columns: 0.8fr 0.8fr;
grid-gap: 30px;
grid-auto-rows :100px;
width: 100%;

justify-content: center;
align-items:center; 


}
.credits{
display: grid;


align-items: center;

background:#eee;
border: 3px black dashed;
width: 100%;
height: 100%;
padding-left: 20px;
	padding-right:  20px;
}

.student{
display: grid;


align-items: center;

	
background:#eee;
 border: 3px black dashed;
 width: 100%;
 height: 100%;
 padding-left: 20px;
	padding-right:  20px;

}



/*oter > div.nested > div.credits{
display: flex;
align-items: center;
grid-gap: 20px;
}

.student{
	text-align: right;
}*/















